[submodule "roles/cockpit"]
	path = roles/cockpit
	url = https://github.com/MartinPilote/ansible-role-cockpit.git
[submodule "roles/telegraf"]
	path = roles/telegraf
	url = https://github.com/MartinPilote/ansible-role-telegraf.git
[submodule "roles/pgadmin"]
	path = roles/pgadmin
	url = https://github.com/MartinPilote/ansible-role-pgadmin.git
[submodule "roles/repo-epel"]
	path = roles/repo-epel
	url = https://github.com/geerlingguy/ansible-role-repo-epel.git
[submodule "roles/influxdb"]
	path = roles/influxdb
	url = https://github.com/MartinPilote/ansible-role-influxdb.git
[submodule "roles/users"]
	path = roles/users
	url = https://github.com/MartinPilote/ansible-role-users.git
[submodule "roles/gnupg"]
	path = roles/gnupg
	url = https://github.com/MartinPilote/ansible-role-gnupg.git
[submodule "roles/vscode"]
	path = roles/vscode
	url = https://github.com/MartinPilote/ansible-role-vscode.git
